<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <button (click)="addColumn()">addColumn</button>
  <button (click)="reduceColumn()">reduceColumn</button>
  <input type="text" (input)="changeWidth($event)" placeholder="change colWidths dynamically..."/>
</div>

<HotTable hotId="testhot1" [data]="dataset" [settings]="appSettings1" [rowHeaders]="headers" [colHeaders]="headers">
  <HotColumn *ngFor="let column of columnsArr" [width]="colWidth"></HotColumn>
</HotTable>
