<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <button (click)="getInstance('testhot1')">Get instance</button>
  <button (click)="toggleHeaders()">Toggle headers</button>
  <button (click)="loadData()">Load data</button>
</div>

<HotTable hotId="testhot1" [data]="dataset" [settings]="appSettings1" [rowHeaders]="headers" [colHeaders]="headers">
  <!-- <HotColumn data="id" type="numeric" [width]="150"></HotColumn> -->
</HotTable>
