@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import '~octicons/build/octicons.css';

/**
* Handsontable styles
*/
@import '~handsontable/dist/handsontable.css';

hot-table {
    width: 100%;
    overflow: hidden;
}

* {
  box-sizing: border-box;
}

html, body, material-app, md-sidenav-container, router-outlet {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

code, code[class*="language-"], pre[class*="language-"] {
  font-family: 'Roboto Mono', monospace;
}

app-root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

[md-button] {
  text-transform: uppercase;
}
[md-button].btn-block {
  width: 100%;
}
.mat-select .mat-select-trigger {
  height: auto;
}
.mat-select .mat-select-placeholder {
  padding: .4375em 0;
}

.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.docs-topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #1976d2;
  color: #fff;
  position: relative;
  z-index: 10;
}
  .docs-topbar .logo {
    width: auto;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
  }

.docs-nav { }
  .docs-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .docs-nav li {
    border-bottom: 1px solid #f0f0f0;
  }
  .docs-nav .nav-cat {
    font-size: 0.75rem;
    color: #fff;
    background: #adadad;
    padding: 0.5rem 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
  }
  .docs-nav .mat-button {
    display: block;
    text-align: left;
    line-height: 3rem;
    border-radius: 0;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .docs-nav .mat-button.active {
    color: #1976d2;
  }
  .docs-nav--sub {
    display: none;
  }
    .open + .docs-nav--sub {
      display: block;
    }
    .docs-nav--sub li {
      border: 0 none;
    }
    .docs-nav--sub .mat-button {
      text-transform: none;
      padding-left: 2rem;
    }

app-component-sidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

md-sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.mat-sidenav-content {
  position: relative;
  transform: translate3d(0,0,0);
  display: block;
  height: 100%;
  overflow: auto;
}

#content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
  #content router-outlet+* {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

.docs-header {
  display: block;
  background: #1976d2;
  padding: 3rem;
}
  .docs-header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
  }

.docs-content {
  padding: 2rem 3rem;
  margin: 0 auto;
  line-height: 1.75rem;
}
  .docs-content h1 {
    font-weight: 400;
  }
  .docs-content h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 3rem;
  }
  .docs-content h2:first-child {
    margin-top: 0;
  }
  .docs-content p:first-child {
    margin-top: 0;
  }
  .docs-content p:last-child {
    margin-bottom: 0;
  }
  .docs-content :not(pre) > code {
    background: #EEEEEE;
    padding: 5px 7px;
    border-radius: 3px;
  }
  .docs-content pre {
    border-radius: 3px;
  }
  .docs-content a {
    color: #1976d2;
    text-decoration: none;
  }
  .docs-content a:hover {
    color: #13518e;
  }
  .docs-content ol.steps {
    counter-reset: section;
    list-style-type: none;
    padding-left: 3rem;
  }
  .docs-content .steps li {
    position: relative;
    margin-bottom: 2rem;
    min-height: 1px;
  }
  .docs-content .steps li::before {
    position: absolute;
    top: 0;
    right: 100%;
    counter-increment: section;
    content: counters(section, ".") " ";
    background: #1976d2;
    color: #fff;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 100;
    vertical-align: middle;
    text-align: center;
    border-radius: 2rem;
    transform: translate(-1rem, -5%);
    z-index: 1;
  }
  .docs-content .steps li::after {
    content: ' ';
    width: 1px;
    height: calc(100% - 2rem);
    position: absolute;
    right: 100%;
    bottom: -1rem;
    background: #BDBDBD;
    transform: translate(-2rem, 0);
    z-index: 0;
  }
  .docs-content .steps li:last-child::after {
    height: calc(100% - 3rem);
    bottom: 0;
  }
  .docs-content .steps li > *:last-child {
    margin-bottom: 0;
  }
  .docs-content figure {
    display: inline-block;
    padding: 2rem;
    margin: 0 0 1rem;
  }

.flex-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}
  .flex-grid .docs-card {
    width: calc(50% - 1.5rem);
    margin-right: 3rem;
    margin-bottom: 3rem;
    -webkit-align-self: stretch;
    align-self: stretch;
  }
  .flex-grid .docs-card:nth-child(2n) {
    margin-right: 0;
  }

  @media(max-width: 959px) {
    .flex-grid .docs-card {
      width: 100%;
      margin-right: 0;
    }
  }

.docs-footer {
  background: #E0E0E0;
  color: #212121;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 1rem 2rem;
}
  .docs-footer-copyright {
    font-size: 0.75rem;
  }
  .docs-footer-copyright a {
    color: #1976d2;
    text-decoration: none;
  }

.infobox {
  padding: 1rem 2rem;
  border-left: 5px solid #424242;
  margin-bottom: 1rem;
  background: #EEE;
}
  .infobox-error {
    background: #FFEBEE;
    border-left-color: #C62828;
  }
  .infobox-info {
    background: #E3F2FD;
    border-left-color: #1565C0;
  }
  .infobox-warning {
    background: #FFFDE7;
    border-left-color: #F9A825;
  }
  .infobox-success {
    background: #E8F5E9;
    border-left-color: #2E7D32;
  }

.label {
  vertical-align: baseline !important;
  display: inline-block;
  background: #000;
  color: #fff;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
  .label-inverted {
    background: none;
    color: currentColor;
  }
  .label-error {
    background: #C62828;
  }
  .label-info {
    background: #1565C0;
  }
  .label-warning {
    background: #F9A825;
  }
  .label-success {
    background: #2E7D32;
  }