@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html, body, material-app, md-sidenav-container, router-outlet {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}

app-root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

[md-button] {
  text-transform: uppercase;
}

.flex-spacer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.docs-topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #1976d2;
  color: #fff;
  position: relative;
  z-index: 10;
}
  .docs-topbar .logo {
    width: auto;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
  }

.docs-nav { }
  .docs-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .docs-nav li {
    border-bottom: 1px solid #f0f0f0;
  }
  .docs-nav .nav-cat {
    font-size: 0.75rem;
    color: #fff;
    background: #adadad;
    padding: 0.5rem 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
  }
  .docs-nav .mat-button {
    display: block;
    text-align: left;
    line-height: 3rem;
    border-radius: 0;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .docs-nav .mat-button.active {
    color: #1976d2;
  }

app-component-sidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

md-sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.mat-sidenav-content {
  position: relative;
  transform: translate3d(0,0,0);
  display: block;
  height: 100%;
  overflow: auto;
}

#content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
  #content router-outlet+* {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

.docs-header {
  display: block;
  background: #1976d2;
  padding: 3rem;
}
  .docs-header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
  }

.docs-content {
  padding: 2rem 3rem;
  max-width: 940px;
  margin: 0 auto;
  line-height: 1.75rem;
}
  .docs-content h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 3rem;
  }
  .docs-content h2:first-child {
    margin-top: 0;
  }
  .docs-content pre[class*="language-"] {
    margin: 0 0 1rem;
  }
  .docs-content code[class*="language-"], .docs-content pre[class*="language-"] {
    color: #76FF03;    
  }
  .docs-content :not(pre) > code {
    background: #EEEEEE;
    padding: 5px 7px;
    border-radius: 3px;
  }
  .docs-content pre {
    border-radius: 3px;
  }
  .docs-content a {
    color: #1976d2;
    text-decoration: none;
  }
  .docs-content a:hover {
    color: #13518e;
  }
  .docs-content ol {
    counter-reset: section;
    list-style-type: none;
    padding-left: 3rem;
  }
  .docs-content li {
    position: relative;
    margin-bottom: 2rem;
    min-height: 1px;
  }
  .docs-content li::before {
    position: absolute;
    top: 0;
    right: 100%;
    counter-increment: section;
    content: counters(section, ".") " ";
    background: #1976d2;
    color: #fff;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: 100;
    vertical-align: middle;
    text-align: center;
    border-radius: 2rem;
    transform: translate(-1rem, -5%);
    z-index: 1;
  }
  .docs-content li::after {
    content: ' ';
    width: 1px;
    height: calc(100% - 2rem);
    position: absolute;
    right: 100%;
    bottom: -1rem;
    background: #BDBDBD;
    transform: translate(-2rem, 0);
    z-index: 0;
  }
  .docs-content li:last-child::after {
    height: calc(100% - 3rem);
    bottom: 0;
  }
  .docs-content li > *:last-child {
    margin-bottom: 0;
  }
  .docs-content figure {
    display: inline-block;
    padding: 2rem;
    margin: 0 0 1rem;
  }

.flex-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .flex-grid .docs-card {
    width: 300px;
    margin-right: 3rem;
    margin-bottom: 3rem;
    -webkit-align-self: stretch;
    align-self: stretch;
  }

.docs-footer {
  background: #1976d2;
  color: #fff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 1rem 2rem;
}
  .docs-footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .docs-footer-copyright {
    font-size: 0.75rem;
  }

.infobox {
  padding: 1rem 2rem;
  border-left: 5px solid;
  margin-bottom: 1rem;
}
  .infobox-warning {
    background: #FFFDE7;
    border-left-color: #F9A825;
  }
